
<div class="main-container">
    <section class="image-container">        
        <img src="{{productDetail?.image}}" alt="{{ productDetail}}">
    </section>
    <section class="discription-container">
    <h3>{{productDetail?.title}}</h3>
        <div><h3>{{ productDetail?.category }}</h3>
            <p class="price" >Gh&#x20B5; {{ productDetail?.price}}</p>
            <p>{{productDetail?.description}}</p>
        </div>
        <div class="button-style">
          <button>Add to Cart</button>
          <button>Remove</button>
        </div>
       
    </section>
</div>