.section {
    margin-bottom: 40px;
    overflow: auto;

  }
  
  .items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .item {
    flex: 0 1 300px;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: box-shadow 0.3s ease-in-out;
  }
  
  .item-content {
    display: flex;
    align-items: start;
  }
  
  .item:hover {
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  }
  
  .item img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
  }
  
  .info {
    flex-grow: 1;
  }
  
  .brand {
    font-weight: bold;
  }
  
  .price {
    color: green;
    font-size: 1.2em;
    font-weight: bold;
  }
  
  button {
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    background-color: #5c1c1c;
    color: white;
    border: none;
    white-space: nowrap;
  }
  .button-style{
    display: flex;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  .title-style, h3{
    font-family:serif;
    color: #5a5d5f ;
  }
  .header{
    margin: 110px;
  }
  